Package: pororoca
Version: 3.1.0
Section: devel
Priority: optional
Architecture: amd64
Installed-Size: 68279
Maintainer: Alexandre H. T. R. Bonfitto <alexandrehtrb@outlook.com>
Homepage: https://pororoca.io
Description: This is Pororoca, a HTTP inspection tool, for Debian-related distros.
Copyright: 2022-2024 Alexandre H. T. R. Bonfitto <alexandrehtrb@outlook.com>
