[Desktop Entry]
Name=Pororoca
Comment=HTTP inspection tool
Icon=pororoca
Exec=pororoca
Terminal=false
Type=Application
Categories=Development
GenericName=Pororoca
Keywords=http; websocket; api
